/* 
Team xoxo :: Stella Oh, Constance Chen, Winnie Huang, Helena Williams
SoftDev
P3: ArRESTed Development, JuSt in Time
2021-04-21
*/

.bmvalue {
    display: inline-block;
    text-align: center;
}
#webName {
    text-align: center;
}

#imgBox {
    width: auto;  
    height: 300px;
    padding: 15px;   
}

.marq {
    font-weight: bolder;
    font-size: x-large;
}