<!--
Team xoxo :: Stella Oh, Constance Chen, Winnie Huang, Helena Williams
SoftDev
P3: ArRESTed Development, JuSt in Time
2021-04-21
-->

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/layout.css">
    <title> Serotonin' It Up</title>
  </head>

  <script>
    var change_o = function() {
      console.log("~~~ presto change-o ~~~");
      var heading = document.getElementById('catPic');
      heading.src = "{{pic}}"; //WORK ON UNFINISHED
    }
  </script>

  <body>
    <h1> Serotonin' It Up</h1>
    <h2> Cats</h2>
    <img id = "catPic" src="{{pic}}"/>

    <button onclick="change_o()">
      Hit me!
    </button>
    
    <form action = "/cats">
      <input type = "submit" value = "shuffle">
    </form>

    <p>Bookmark</p>

    <form action = "/explore">
      <input type = "submit" value = "Go Back">
    </form>

    <form action = "/homepage">
        <input type = "submit" value = "Go to Homepage">
      </form>
</html>