<!--
Team xoxo :: Stella Oh, Constance Chen, Winnie Huang, Helena Williams
SoftDev
P3: ArRESTed Development, JuSt in Time
2021-04-21
-->

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/layout.css">
    <title> Serotonin' It Up</title>
  </head>

  <body>
    <h1> Serotonin' It Up</h1>
    <h2> Dogs</h2>

    <p>image</p>
    <p>Shuffle</p>
    <p>Bookmark</p>

    <form action = "/explore">
      <input type = "submit" value = "Go Back">
    </form>

    <form action = "/homepage">
      <input type = "submit" value = "Go to Homepage">
    </form>

</html>