<!--
Team xoxo :: Stella Oh, Constance Chen, Winnie Huang, Helena Williams
SoftDev
P3: ArRESTed Development, JuSt in Time
2021-04-21
-->

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/layout.css">
    <title>Serotonin' It Up</title>
  </head>
  <body>

    <h1>Serotonin' It Up</h1>
    <h1>Explore</h1>
    <p>Advice</p>
    <p>Activity</p>
    <form action = "/save">
        <input type = "submit" value = "Bookmark Activity">
    </form>

    <p>Dog Image</p>
    <form action = "/dogs">
        <input type = "submit" value = "Dog">
      </form>

    <p>Cat Image</p>
    <form action = "/cats">
        <input type = "submit" value = "Cat">
      </form>

    <form action = "/homepage">
      <input type = "submit" value = "Go Back">
    </form>
</html>
