<!--
Team xoxo :: Stella Oh, Constance Chen, Winnie Huang, Helena Williams
SoftDev
P3: ArRESTed Development, JuSt in Time
2021-04-21
-->

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/layout.css">
    <title> Homepage </title>
  </head>
  <body>

    <h1> Serotonin' It Up</h1>
    <h1>    Welcome {{ user }} !    </h1>
    

		<h3> Bookmarks </h3>

    <form action = "/bookmarked-activities">
      <input type = "submit" value = "Activities">
    </form>

    <form action = "/bookmarked-dogs">
      <input type = "submit" value = "Dogs">
    </form>

    <form action = "/bookmarked-cats">
      <input type = "submit" value = "Cats">
    </form>

    <form action = "/explore">
      <input type = "submit" value = "explore">
    </form>

    <h3> Logout: </h3>
    <form action = "/logout">
      <input type = "submit" value = "Logout">
    </form>
</html>
