<!--
Team xoxo :: Stella Oh, Constance Chen, Winnie Huang, Helena Williams
SoftDev
P3: ArRESTed Development, JuSt in Time
2021-04-21
-->

<!DOCTYPE html>
<html>

<head>
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/layout.css">

  <style>
    .green {
      color: #00ff00;
    }

    .white {
      color: #ddfff7;
    }
  </style>
  <title>JS Games</title>
</head>

<body style="background-color: #ddfff7; color: #2e5266;">
  <nav class="navbar navbar-light .bg-transparent" id="webName" style="background-color: #2e5266;">
    <span class="navbar-brand mb-0 h1" style="color: #ddfff7;">Serotonin' It Up</span>
  </nav>

  <div class="jumbotron" style="background-color: #ddfff7">
    <h1 class="display-4" style="font-weight: bold;">JS Activities</h1>
    <hr class="my-4">

    <h2>Meditation Station</h2>
    <audio controls id="music">
      <source src="../static/Serotonin.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
      
      <p>Click the buttons to play or pause the music. <br> *Fun fact: Helena, Constance, and Stella made this music!</p>
      
      <button onclick="play()" type="button" class="btn btn-outline-info">Play </button>
      <button onclick="pause()" type="button" class="btn btn-outline-info">Pause</button>
      
    <script>
      var myMusic= document.getElementById("music");
      function play() {
      myMusic.play();
      }
      
      function pause() {
      myMusic.pause();
      }

    </script>
    <hr class="my-4">
    <h2>Bad Jokes</h2>
    <t>Mouse over the area below the joke to read the horrendous punchline!</t><br><br>
    <b>So, I purchased some shoes from a drug dealer...</b><br>
    <ul id="joke1" style="color: green; list-style-type: none;">
      <li class="white"><i>I don't know what he LACED them with, but I was TRIPPING all day!</i></li>
    </ul>
    <b>How did the Atlantic Ocean say goodbye to the Pacific Ocean?</b><br>
    <ul id="joke2" style="color: green; list-style-type: none;">
      <li class="white"><i>It WAVED!</i></li>
    </ul>
    <b>What's the best thing about living in Switzerland?</b>
    <ul id="joke3" style="color: green; list-style-type: none;">
      <li class="white"><i>I don't know, but the flag is a BIG PLUS!</i></li>
    </ul>

    <hr class="my-4">
    <h2>It Beeg Yoshi</h2>
    <form action="/terror">
      <input type="submit" value="Attempt to Sneak Past Him" class="btn btn-outline-danger">
    </form>
    <img src="../static/BeegYoshi.png" />
    
    <hr class="my-4">

    <form action="/explore">
      <input type="submit" value="Go Back To Explore" class="btn btn-outline-success btn-lg">
    </form>
    <br>
    <form action="/homepage">
      <input type="submit" value="Go To Homepage" class="btn btn-outline-secondary btn-lg">
    </form>
  </div>

  <script src="../static/js/javascript.js"></script>
  <!-- bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>